@charset "UTF-8";
@import "./mixin.scss";

.ChatListItem-container {
	width: 100%;
	height: 1.3rem;
	background: #ffffff;
	position: relative;
	border-bottom: 0.01rem solid #e6e6e6;
	@include transform(translate3d(0, 0, 0))
}

.ChatListItem-Item {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
	background: #E9EBEB;
	@include transition(all ease-out 0.4s);
	opacity: 1;
}

.ChatListItem-Item-expand {
	@include transform(translate3d(-4rem, 0, 0))
}

.ChatListItem-avatar {
	width: .94rem;
	height: .94rem;
	margin-left: 0.4rem;
	margin-top: 0.2rem;
	float: left;
}

.ChatListItem-msg-box {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.24rem;

	p {
		font-size: 0.28rem;
		width: 4rem;
		color: #888;
		line-height: 0.46rem;
		-webkit-font-smoothing: initial;
		@extend %ellipsis;
	}

	p:first-child {
		color: rgba(0, 0, 0, .870588);
	}

}

.ChatListItem-time {
	color: #999;
	font-size: 0.2rem;
	font-weight: bold;
	float: right;
	margin-right: 0.4rem;
	margin-top: 0.3rem;
}

.ChatListItem-msg-number {
	width: 0.42rem;
	height: 0.42rem;
	@include border-radius(100%);
	background: #EF392F;
	color: #ffffff;
	text-align: center;
	line-height: 0.42rem;
	position: absolute;
	font-size: 0.22rem;
	left: 1.2rem;
	top: 0.1rem;
}

.ChatListItem-hidden-element {
	height: 100%;
	overflow: hidden;
	float: right;

	div {
		float: left;
		height: 99%;
		text-align: center;
		line-height: 1.3rem;
		font-size: 0.3rem;
		color: #ffffff;
	}

	.ChatListItem-hidden-sign {
		width: 2.2rem;
		background: #C8C7CD;
	}

	.ChatListItem-hidden-del {
		width: 1.8rem;
		background: #FF3A31;
	}

}
