@charset "UTF-8";
@import "./mixin.scss";

.ChatBox-container{
	width: 100%;
	height: 100%;
	background-size: contain;
	overflow-x: hidden;
	overflow-y: scroll;
}
.ChatBox{
	width: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
	height: calc(100vh - 2.3rem);
	background-size: cover;
}