@charset "UTF-8";
@import "./mixin.scss";

.friends {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: #fff;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.friends-search {
	width: 100%;
	height: 1.4rem;
	border-top: 1px solid #EFEDF1;
	border-bottom: 1px solid #EFEDF1;
}

.friends-inputs {
	width: 93%;
	margin: auto;
	height: 1rem;
	background: #EFEDF1;
	border-radius: .14rem;
	margin-top: .22rem;
	color: #ACABAE;
	position: relative;
	font-size: .5rem;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	line-height: 1rem;

	input {
		background: transparent;
		width: 100%;
		height: 85%;
		position: absolute;
		border: none;
		left: 0;
		text-align: center;
		color: #ACABAE;
		font-size: .5rem;
	}

}

.friends-icons {
	position: absolute;
	top: 0;
	left: .1rem;
	@include transform(translate3d(3.6rem, 0, 0));

	i {
		position: relative;
		top: .08rem;
		margin-right: .1rem;
		margin-left: .1rem;
	}

}
.friends-icons-slide{
	@include transform(translate3d(0, 0, 0))
}

.friends-shadow {
	width: 100%;
	height: .34rem;
	background: #F3F1F4;
	box-shadow: 0 -2px 0 #E5E4E7;
}

.friends-lists {
	width: 100%;
	height: calc(100vh - 1.74rem);
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	ul>li {
		width: 92%;
		height: 2rem;
		position: relative;
		display: block;
		margin: auto;
		border-bottom: 1px solid #E9E7EA;

		img {
			width: 1.6rem;
			height: 1.6rem;
			border-radius: .2rem;
			position: absolute;
			top: .2rem;
		}
	
	}

}
.friends-name{
	position: absolute;
	font-size: .4rem;
	color: #727073;
	    left: 2rem;
    top: .47rem;
    text-align: left;
}
.friends-sign{
	position: absolute;
	font-size: .35rem;
	color: #ACAAAD;
	text-align: left;
	left: 2rem;
	top: 1.2rem;
}
