@charset "UTF-8";
@import "./mixin.scss";

.Head{
	overflow: hidden;
	width: 100%;
	height: 1.6rem;
	background: #eee;
} 
.Header-onlineState-container,
.Header-Menu-container{
	position: relative;
	height: 100%;
	float: left;
	img{
		border-radius: 100%;
		width: 1rem;
		height: 1rem;
		@include border-radius(100%);
		margin-left: 0.3rem;
    margin-top: 0.26rem;
	}
	.Header-onlineState{
		width: 0.3rem;
		height: 0.3rem;
		@include border-radius(100%);
		background: rgb(53, 195, 40);
		position: absolute;
		left: 1.15rem;
		top: 1rem;
	}
}
.Header-rightElement{
	float: right;
	color: rgba(0,0,0,0.5);
	overflow: hidden;
	i{
		font-size: 0.5rem;
	}
	div{
		float: left;
		margin-right: 0.35rem;
		div{
			width: 1rem;
			height: 1rem;
			text-align: center;
			line-height: 1rem;
			margin-top: 0.3rem;
		}
	}
	.Header-icon-more{
		@include transform(rotate(90deg));
		position: relative;
	}
}
.Header-Menu-container{
		margin-left: 0.4rem;
		margin-top: 0.5rem;
		color: #4b4b4b;
	i{
		float: left;
		font-weight: bold;
		font-size: 0.6rem;
		margin-right: 0.3rem;
	}
	.Header-title{
		font-size: 0.40rem;
		float: left;
		font-weight: bold;
	}
}
