@charset "UTF-8";
@import "./mixin.scss";

.Head{
	width: 100%;
	height: 1.1rem;
	background: #eee;
	position: relative;
} 
.Header-onlineState-container,
.Header-Menu-container{
	position: relative;
	height: 100%;
	float: left;
	img{
		border-radius: 100%;
		width: .78rem;
		height: .78rem;
		@include border-radius(100%);
		margin-left: 0.3rem;
    	margin-top: 0.14rem;
	}
	.Header-onlineState{
		width: 0.2rem;
		height: 0.2rem;
		@include border-radius(100%);
		background: rgb(53, 195, 40);
		position: absolute;
		left: .9rem;
		top: .7rem;
	}
}
.Header-rightElement{
	float: right;
	color: rgba(0,0,0,0.5);
	overflow: hidden;
	i{
		font-size: 0.35rem;
	}
	div{
		float: left;
		margin-right: 0.1rem;
		margin-top: -0.2rem;
		div{
			width: 1rem;
			height: 1rem;
			text-align: center;
			line-height: 1rem;
			margin-top: 0.3rem;
		}
	}
	.Header-icon-more{
		@include transform(rotate(90deg));
		position: relative;
	}
}
.Header-icon-message{
	position: relative;
}
.message-number{
	position: absolute;
	width: .5rem;
	height: .5rem;
	text-align: center;
	line-height: .5rem;
	color: #fff;
	font-size: .2rem;
	border-radius: 100%;
	background: #35c328;
	top: 0;
	left: 0;
}
.Header-Menu-container{
		margin-left: 0.5rem;
		margin-top: 0.4rem;
		color: #4b4b4b;
	i{
		float: left;
		font-weight: bold;
		font-size: 0.35rem;
		margin-right: 0.3rem;
	}
	.Header-title{
		font-size: 0.3rem;
		float: left;
		font-weight: bold;
	}
}
.SettingCard-container{
	position: absolute;
	width: 2.4rem;
	left: 4rem;
  	top: 1.2rem;
	background: #fff;
    border: 1px solid #fefefe;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    z-index: 10;
    @include transform(translate3d(6rem,0,0));
    opacity: 0;
	ul{
		width: 100%;
		li{
			padding: 0.2rem 0.4rem;
			color: #666;
			text-align: left;
			font-size: 0.3rem;
			&:hover{
				background: #eee;
			}
		}
	}
}
.show-SettingCard{
	opacity: 1;
	@include transform(translate3d(0,0,0));
}
