@charset "UTF-8";
@import "./mixin.scss";
.MessageList-container{
	@include transform(translate3d(0,0,0))
}
.page-container{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background: #eee; 
}
.page-container-center,
.page-container-chat,
.page-container-friends{
	position: absolute;
	left: 0;
	top: 0;
	background: #ffffff;
	width: 100%;
	height: 100vh;
	z-index: 3;
	overflow: hidden;
}
.page-container-center{
	@include transform(translateX(-100%));
}
.page-container-chat{
	@include transform(translateX(100%));
}
.page-container-friends{
	@include transform(translateX(100%));
}
.page-container-hide{
	@include transform(translateX(-100%));
}
.page-container-show{
	@include transform(translateX(0));
}
.ChatBox{
	width: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
	height: calc(100vh - 3.1rem);
	background-size: cover;
	background: #fff;
}