@charset "UTF-8";
@import "./mixin.scss";

.InputArea-container {
	width: 100%;
	height: 1.5rem;
	background: #F3F4EF;
	position: relative;

	i {
		color: #888;
		font-size: 0.6rem;
	}

}

.InputArea-more-feature {
	float: left;

	i {
		margin: 0.45rem 0.5rem;
	}

}

.InputArea-input-box {
	width: 7rem;
	height: 70%;
	background: #fff;
	float: left;
	margin-top: 0.2rem;
	border-radius: 0.1rem;

	i {
		margin-left: 0.4rem;
		margin-top: 0.2rem;
	}

}

.InputArea-input {
	float: left;
	overflow: hidden;
	height: 80%;
	margin-top: 0.05rem;
	width: 5.3rem;
	border: none;
	position: relative;
	padding-left: 0.3rem;
	color: #4b4b4b;
	white-space: nowrap;
	word-break: break-all;
	font-size: 0.4rem;
	outline: none;
}

.InputArea-send {
	i {
		margin-left: 0.4rem;
		margin-top: 0.4rem;
	}

}

.InputArea-send {
	overflow: hidden;
	height: 100%;
}

.emoji-box {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 1.5rem;
	background: #F3F4EF;
	@include transform(translate3d(0, 130%, 0));
	opacity: 0;
}
.show-emoji{
	opacity: 1;
	@include transform(translate3d(0, 0, 0));
}
.expressions {
	width: 1rem;
	height: 1rem;
	border-collapse: collapse;
	font-size: 0;
	display: inline-block;
}

.expression {
	width: .8rem;
	height: .8rem;
	margin: 5px auto;
}