@charset "UTF-8";
@import "../../Common/mixin.scss";

.InputArea-container{
	width: 100%;
	height: 1.5rem;
	background:#F3F4EF;
	position: relative;
	overflow: hidden;
	i{
		color: #888;
		font-size: 0.6rem;
	}
}
.InputArea-more-feature{
	float: left;
	i{
		margin: 0.45rem 0.5rem;
	}
}
.InputArea-input-box{
	width: 7rem;
	height: 70%;
	background: #fff;
	float: left;
	margin-top: 0.2rem;
	border-radius: 0.1rem;
	i{
		margin-left: 0.6rem;
		margin-top: 0.2rem;
	}
}
.InputArea-input{
	float: left;
  overflow: hidden;
  height: 80%;
  margin-top: 0.05rem;
  width: 5.2rem;
  border: none;
  position: relative;
  padding-left: 0.3rem;
  color: #4b4b4b;
  white-space: nowrap;
  word-break: break-all;
  font-size: 0.4rem;
  outline: none;
}
.InputArea-send{
	i{
		margin-left: 0.4rem;
		margin-top: 0.4rem;
	}
}