@charset "UTF-8";
@import "./mixin.scss";

.MessageList-container{
	width: 100%;
	height: 2rem;
	position: relative;
}
.MessageList-userinfo{
	float: right;
	margin-right: 0.1rem;
	.MessageList-avatar{
		width: 1.2rem;
    height: 1.2rem;
    @include border-radius(100%);
    margin-top: 0.2rem;
	}
}
.MessageList-content{
	float: right;
	color: #5f6265;
	p{
		font-size: 0.4rem;
	    text-align: right;
	    margin-right: 0.4rem;
	    position: relative;
	    top: 0.15rem;
	}
	.MessageList-message{
		margin-right: 0.3rem;
    	margin-top: 0.2rem;
		display: inline-block;
		text-align: center;
		padding: 6px 12px;
		background: #ccc;
		max-width: 90%;
		border: 1px solid #ccc;
		float: right;
		word-break: break-all;
		position: relative;
		@include border-radius(0.2rem);
		font-size: 0.4rem;
		.triangle-right-outer{
		    content: "";
		    -webkit-transform: rotate(-20deg);
		    transform: rotate(-20deg);
		    position: absolute;
		    border-left: 10px solid #ccc;
		    border-top: 2px solid transparent;
		    border-bottom: 7px solid transparent;
		    right: -0.2rem;
    		top: 0.1rem;
		}
	}
}
.MessageList-container-other{
	
}