@charset "UTF-8";
@import "./mixin.scss";

.MessageContainer-content {
	-webkit-overflow-scrolling: touch;
}

.MessageList-container {
	width: 100%;
	height: 2rem;
	position: relative;
}

.MessageList-container-other {
	.MessageList-userinfo {
		float: left;
		margin-left: 0.2rem;
	}

	.MessageList-content {
		float: left;
		margin-left: .2rem;

		p {
			text-align: left;
		}

		.MessageList-message {
			float: left;

			.triangle-right-outer {
				right: .77rem;
				top: .05rem;
				transform: rotate(-140deg);
			}

		}

	}

}
.content-msg{
	float: left;
	.nomal-span{
		display: block;
		float: left;
		position: relative;
    top: .2rem;
    margin-left: .1rem;
	}
	div{
		width: .8rem;
    height: .8rem;
    border: none;
    margin-left: .1rem;
    float: left;
	}
}

.MessageList-userinfo {
	float: right;
	margin-right: 0.1rem;

	.MessageList-avatar {
		width: 1.2rem;
		height: 1.2rem;
		@include border-radius(100%);
		margin-top: 0.2rem;
	}

}

.MessageList-content {
	float: right;
	color: #5f6265;

	p {
		font-size: 0.4rem;
		text-align: right;
		margin-right: 0.4rem;
		position: relative;
		top: 0.15rem;
	}

	.MessageList-message {
		margin-right: 0.3rem;
		margin-top: 0.2rem;
		display: inline-block;
		text-align: center;
		padding: 6px 12px;
		background: #fff;
		max-width: 90%;
		border: 1px solid #fff;
		float: right;
		word-break: break-all;
		position: relative;
		@include border-radius(0.2rem);
		font-size: 0.4rem;

		.triangle-right-outer {
			content: "";
			-webkit-transform: rotate(-20deg);
			transform: rotate(-20deg);
			position: absolute;
			border-left: 10px solid #fff;
			border-top: 2px solid transparent;
			border-bottom: 7px solid transparent;
			right: -0.2rem;
			top: 0.1rem;
		}

	}

}

.MessageList-container-other {
}