@charset "UTF-8";
@import "./mixin.scss";

.Register-container{
	width: 100%;
	position: relative;
	box-sizing: border-box;
    background: #f5fcff;
    position: absolute;
    padding: 0.3rem;
    height: 100%;
    width: 100%;
}