@charset "UTF-8";

@function rem($size) {
    @return $size / 100 + rem;
}


.SearchBar-container{
	width: 100%;
	background: #FBFBFB;
	height: 0.9rem;
}
.searchInput{
  height: 0.6rem;
  width: 92%;
  position: relative;
  transition-delay: .15s;
  overflow: hidden;
  color: #a9a6a6;
  background-color: #fbfbfb;
  border: 1px solid #f6f6f6;
  top: 0.14rem;
  margin: auto;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
	input{
      font-weight: bold;
      font-size: 0.2rem;
      height: 0.6rem;
      width: 65%;
      padding: 0.02rem 0.2rem;
      float: left;
      outline: none;
      border: none;
      background-color: #fbfbfb;

	}
	.SearchInput-search-button{
		float: left;
		width: 1rem;
		height: 0.8rem;
		text-align: center;
		padding: 0.2rem 0;
        .w-icon-search{
          font-size: 0.2rem;
        }
	}
}