@charset "UTF-8";
@import "../../Common/mixin.scss";

.ChatRoom-container{}
.ChatBox{
	width: 100%;
	position: relative;
	height: calc(100vh - 3.1rem);
	background: url(./image/bg.jpg) no-repeat 0 0;
	background-size: cover;
}